<% include ./partials/header.ejs %>

<div class="container">
		<!--<h3 id="title">Hello ! Welcome to my Website</h3>-->
	    <img class="thumbnail" src="http://s13.postimg.org/umex0jpqv/CROPPED_DSC_0017.jpg">
	    <br>
	    <hr class="hr-style">
		<br>
		<p>My name is <strong>MOUSTAFA ALY</strong> and I am currently enrolled in the undergraduate Computer Engineering program at the University of Toronto, class of 2017 + PEY.
		I have decided to create this website to showcase some of the projects I have worked on and share my experiences. Specializing in software, my main interest lies in creating applications and programming in general, whether
		it is low-level or high-level. I am a keen learner and aspire to improve my skills every day, making the most out of every opportunity which is handed to me. I have definitely learned a lot through my past life endeavours 
		but there is still much more for me to catch up on.
		I am a team player who would gladly assist a colleague becuase I believe that we all need help at some time or another. An ideal work environment in my opinion would be one which promotes innovation and maintains a lively 
		and supportive atmosphere.
		I enjoy playing all kinds of sports but I would say that soccer is by far my favourite ! I like to keep a healthy lifestyle by ensuring I maintain a balance between work and other leisure activities. I love going on adventures,
		exploring and open to trying new challenges, whether academic or not.
		My ultimate goal in life would be starting my own company and I believe that every day I am taking a step closer to achieving this dream. I am at a stage of life where making mistakes is crucial to growth and have come to
		agree that learning from them is one of the keys to success.
		</p>
</div>

<% include ./partials/footer.ejs %>