<% include ./partials/header.ejs %>

<div class="container">
    <img class="picture thumbnail" src="<%=picture.url%>">
    <br>
    <p class="body"><%=picture.description%></p>
    <a class="btn btn-primary" href="/projects" role="button">Go back !</a>
</div>

<% include ./partials/footer.ejs %>